
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100vh;
}

img {
  max-width: 100%;
}

/* App component */
.App {
  height: 100vh;
}

/* Error page */
.errorPage {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.73) url('./media/lost.jpeg');
  background-blend-mode: darken;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.errorPage div {
  margin-bottom: 2em;
}

.errorPage p {
  margin: 1em 0 0.7em 0;
}

.errorPage a {
  color: white;
  text-decoration: none;
}

.errorPage a:hover {
  cursor:pointer;
}